<a href="https://colab.research.google.com/github/ldriggers/rv-ldriggs-homework/blob/main/Week2_Python_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Week2 Python Programming

In week2, we've covered:
* Creating **variables**
* Different **data types**:
    * int
    * float
    * boolean
    * string
* Import **standard library**:
    * math
    
    
* **Data structures**:
    * List
    * Tuples
    * Dictionary
* **Function**:
    * Define function without parameter
        * **def** func():
    * Define function with parameter
        * **def** func(param):
* **Control flow**:
    * if, elif, else
    * for
    * while
* **DataFrame**:
    * Exploring a dataset

The best way to consolidate the knowledge in your mind is by practicing.<br>Please complete the part marked with <span style="color:green">**# TODO**</span>.

[Google](https://google.com) and [Python Documentation](https://docs.python.org/3/contents.html) are your good friends if you have any python questions.

## Variables and types

### Symbol names

Variable names in Python can contain alphanumerical characters `a-z`, `A-Z`, `0-9` and some special characters such as `_`. Normal variable names must start with a letter.

By convention, variable names start with a lower-case letter, and Class names start with a capital letter.

In addition, there are a number of Python keywords that cannot be used as variable names. These keywords are:

    and, as, assert, break, class, continue, def, del, elif, else, except,
    exec, finally, for, from, global, if, import, in, is, lambda, not, or,
    pass, print, raise, return, try, while, with, yield

## Assignment


The assignment operator in Python is `=`. Python is a dynamically typed language, so we do not need to specify the type of a variable when we create one.

Assign an `int` to a variable with name `x` and print its type.

In [3]:
# TODO
x = 100
x

100

Assign a new value with `str` type to the same variable `x` and print its type.

In [6]:
# TODO
x = str(100)
type(x)

str

Print the value of a variable that has not been defined, see what error do you get:

In [7]:
# TODO
print(y)

NameError: ignored

## Operators and comparisons

Most operators and comparisons in Python work as one would expect:

* Arithmetic operators `+`, `-`, `*`, `/`, `//` (integer division), '**' power

Print the sum, difference, multiplication, and division between `1` and `2`.

In [9]:
# TODO
print(1+2,1-2,1*2,1 / 2)

3 -1 2 0.5

Carry out Integer division of two float numbers.

In [30]:
# TODO
12.0 / 5.0

2.4

What is the value of `2` Power `15`?

In [10]:
# TODO
2**15

32768

* The boolean operators are spelled out as the words `and`, `not`, `or`.

* Comparison operators `>`, `<`, `>=` (greater or equal), `<=` (less or equal), `==` (equal), `!=` (not equal), `is` (identity).

Compare two boolean `True` and `False`

In [11]:
# TODO
True and False

False

Use `False` to get `True`

In [19]:
# TODO
False is False

True

Include both `False` and `True` in your code to get `True`

In [25]:
# TODO
False or True

True

Use two different ways:
- `==` to check if `l1` and `l2` have equal values
- `is` to check if `l1` and `l2` point to the same object in memory

In [28]:
# TODO
l1 = [1, 2]
l2 = [1, 2.0]
l1 == l2

True

In [29]:
# TODO
l1 = [1, 2]
l2 = [1, 2.0]
l1 is l2

False

## Strings

Strings are the variables type that is used for storing text messages.

Create three string variables, and use one `print` to display all three variables.

In [ ]:
# TODO

Check the length of "Hello world!".

In [ ]:
# TODO

Get the index `0` character in a string.

In [ ]:
# TODO

Get the first 3 characters in a string.

In [ ]:
# TODO

Use a start index and a stop index to get the fifth character in a string.

In [ ]:
# TODO
s = "Red Ventures"

Get the last character in a string.

In [ ]:
# TODO
s = "Charlotte"

#### Escape characters
In Python strings, the backslash "\\" is a special character, also called the **"escape"** character. It is used in representing certain whitespace characters: "\t" is a tab, "\n" is a newline, and "\r" is a carriage return. Conversely, prefixing a special character with "\" turns it into an ordinary character.

Print out the following strings:
<pre>
'    Everything is written in pencil.'

'Everything is written
 in pencil.'

'Everything \ is written \ in pencil.'

'Red Ventures brands, just list a few:
   * Bankrate
   * Reviews.com
   * the Points Guy
   * creditcards.com'
</pre>

In [ ]:
# TODO

#### String methods
Here are some of the most common string methods. A method is like a function, but it runs "on" an object. If the variable s is a string, then the code s.lower() runs the lower() method on that string object and returns the result (this idea of a method running on an object is one of the basic ideas that make up Object Oriented Programming, OOP). Here are some of the most common string methods:

lower(), upper(), strip(), isdigit(), startswith(), endswith(), find(), replace(), split(), join()

[Documentation](https://docs.python.org/3/library/stdtypes.html#string-methods)

Convert all letters to lower cases.

In [ ]:
# TODO
s = 'RED FISH'

Check if string starts with `r`

In [ ]:
# TODO
s = 'Run Up Escalators'

Find the index of the single quote.

In [ ]:
# TODO
s = "You don't have to lie."

## Type casting
The process of converting the value of one data type to another is called type casting or type conversion.

Cast variable `z` to `int` and print its type.

In [ ]:
# TODO

Are the types of 1 + 2 and 1.0 + 2 the same?

In [ ]:
# TODO

Add num_int and num_str, you should provide two outputs. One is a string and the other is an int.

In [ ]:
# TODO
num_int = 123
num_str = "456"

What happens if you cast `-1` to a boolean?

In [ ]:
# TODO

## Standard Library
Pythonâ€™s standard library is very extensive, offering a wide range of facilities. The library contains built-in modules (written in C) that provide access to system functionality as well as modules written in Python that provide standardized solutions for many problems that occur in everyday programming.

For example, the `math` module gives access to the underlying C library functions for floating point math.

[Documentation](https://docs.python.org/3/library/math.html)
<br>
<br>

Import math module and calculate $e^4$.

In [ ]:
# TODO

Calculate the value of $log_2(8)$.

In [ ]:
# TODO

Calculate the value of $\sqrt{100}$.

In [ ]:
# TODO

## List
[List Documentation](https://www.w3schools.com/python/python_lists.asp)

### 1. Fill the ___ parts of code below

In [ ]:
# TODO
# Let's create an empty list
my_list = ____

# Let's add some values
my_list.____('Python')
my_list.____('is ok')
my_list.____('sometimes')

# Let's remove 'sometimes'
my_list.____('sometimes')

# Let's change the second item
my_list[____] = 'is neat'

In [ ]:
# Let's verify that it's correct
assert my_list == ['Python', 'is neat']

### 2. Create a new list without modifying the original one

In [ ]:
original = ['I', 'am', 'learning', 'hacking', 'in']

In [ ]:
# TODO

In [ ]:
assert original == ['I', 'am', 'learning', 'hacking', 'in']
assert modified == ['I', 'am', 'learning', 'lists', 'in', 'Python']

### 3. Create a merged sorted list (descending order)

In [ ]:
list1 = [6, 12, 5]
list2 = [6.2, 0, 14, 1]
list3 = [0.9]

In [ ]:
# TODO
my_list =

In [ ]:
print(my_list)
assert my_list == [14, 12, 6.2, 6, 5, 1, 0.9, 0]

### 4. Loop through a list  
[For Loops Documentation](https://www.w3schools.com/python/python_for_loops.asp)  
[While Loops Documentation](https://www.w3schools.com/python/python_while_loops.asp)

Loop through a list and check:
* If an item is a float, cast the float to int.
* If an item is an int, cast the int to float
* Hint: use isinstance()

In [ ]:
loop_list1 = [1101, 704.971, 'Fort Mill']
# TODO
# use for loop

In [ ]:
print(loop_list1)
assert loop_list1 == [1101.0, 704, 'Fort Mill']

In [ ]:
loop_list2 = [1101, 704.971, 'Fort Mill']
# TODO
# use while loop

In [ ]:
print(loop_list2)
assert loop_list2 == [1101.0, 704, 'Fort Mill']

## Tuples
[Tuples Documentation](https://www.w3schools.com/python/python_tuples.asp)

### 1. Fill the ___ parts of code below

In [ ]:
# TODO
# create a tuple with items of different data types
my_tuple = ___
print(my_tuple, type(my_tuple))

# Unpack my_tuple in several variables
___= my_tuple

# convert my_tuple to list and assign to variable my_list
my_list = ___(my_tuple)
print(my_list, type(my_list))

# convert my_list to tuple and assign to variable my_new_tuple
my_new_tuple = ___(my_list)
print(my_new_tuple, type(my_new_tuple))

### 2. Check the immutable property of tuple

In [ ]:
# TODO
rv_tuple = 1101, 'Red', 'Ventures', 'Drive'
print(rv_tuple, type(rv_tuple))
# check id
print(___(rv_tuple))
# modify the variable
rv_tuple = rv_tuple + (29707, )
print(rv_tuple, type(rv_tuple))
# check id
print(___(rv_tuple))

# TODO
# Do the same exercises as above for a list and see the difference
# Remember list is mutable

### 3. Define Functions  

[Functions Documentation](https://www.w3schools.com/python/python_functions.asp)

Write a function that accepts a string and return the number of uppercase letters and lowercase letters.

In [ ]:
# TODO
def check_case():

    return uppercase_number, lowercase_number

In [ ]:
my_string = "This is Week3 Python Programming Homework."
assert check_case(my_string)[0] == 5
assert check_case(my_string)[1] == 30

## Dictionary
[Dictionary Documentation](https://www.w3schools.com/python/python_dictionaries.asp)

### 1. Fill the ___ parts of code below

In [ ]:
# TODO
# create an empty dictionary
my_dict = ___
print(my_dict, type(my_dict))

# create a dictionary with values
my_dict = ___
print(my_dict, type(my_dict))

# add key/value to my_dict
my_dict___
print(my_dict)

# remove the key you added from my_dict
my_dict___
print(my_dict)

### 2. Sort Dictionary

Print out key/value pair by the ascending order of keys.

In [ ]:
# TODO
location_dict = {'Charlotte': 'NC', 'Austin': 'TX', 'New York': 'NY', 'Los Angeles': 'CA'}

Display the location_dict by the descending order of values.

In [ ]:
# TODO
location_dict = {'Charlotte': 'NC', 'Austin': 'TX', 'New York': 'NY', 'Los Angeles': 'CA'}

## Set

Though `set` is not covered in the video materials, it is also one of the major data structures in Python.

[Set Documentation](https://www.w3schools.com/python/python_sets.asp)

### 1. Fill the ____ parts of code below

In [ ]:
# TODO
# create an set
my_set = ____
print(my_set, type(my_set), '\n')

# create a set with values
my_set = ____
print(my_set, type(my_set), '\n')

# add a new value to my_set
# the value should be a different
my_set.___
print(my_set, '\n')


# remove the value you added from my_set
my_set.____
print(my_set, '\n')

### 2. Set Manipulation

Use a list  with duplicated values and a tuple to create two sets respectively, and get a union set between those two.

In [ ]:
# TODO

Create two sets `my_set1` and `my_set2`, and get values in `my_set1` but not in `my_set2`.

In [ ]:
# TODO

## DataFrames

[Dataframe Documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)

In [ ]:
import pandas as pd
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'

# Download the CSV from the above url.
# This csv is separated by a ';' so we need to add that as a parameter to the read_csv method.
df = pd.read_csv(url, sep=';')

Show the first 6 rows of the `df` dataframe

In [ ]:
# TODO

Print out the summary statistics for each dataframe column

In [ ]:
# TODO

## Submission

Download completed **Week2_Python_Homework.ipynb** from Google Colab and commit to your personal Github repo you shared with the faculty.